
.content-container {
    font-family: 'Nanum Myeongjo', serif;
    background-color: white;
    z-index: -2;
}

.title {
    font-size: 20pt;
}

.header {
    margin-bottom: 5vh;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}