
.content-container {
    font-family: 'Nanum Myeongjo', serif;
    z-index: -2;
}

.title {
    font-size: 20pt;
}

.content-title {
    font-size: 30pt;
    font-family: 'MagnoliaSky', serif;
    color: #7d684c;
    height: 100%;
    position: relative;
    z-index: 3;
    padding-top: 25px;
}

.content-title::after {
    clip-path: polygon(0 70%, 100% 0, 100% 30%, 0 100%);
    transform: skew(-10deg, -10deg);
    border-top: 5px solid #fff;
    border-bottom: 5px solid #7d684c; 
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    box-shadow: 5px 10px;
}

.header {
    margin-bottom: 5vh;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}