.img-wrapper {
    height: 40vh;
    width: 40vh;
    margin-right: 15px;
    position: relative;
    z-index: 1;
}

.detail-image {
    height: 40vh;
    width: 100vw;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-family: 'MagnoliaSky', sans-serif;
    color: #7d684c;
    font-size: 20pt;    
}

.card-text {
    font-size: 15pt;
    margin-bottom: 3vh;
}

.card-link {
    margin: 3vh 0;
    text-decoration: none;
    color: #009FB7;
    padding: 20px 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 99999;
}