.img-wrapper {
    height: 40vh;
    width: 40vh;
    margin-right: 15px;
    position: relative;
    z-index: 1;
}

.img-wrapper::after {
    border: 8px solid #B29758;
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 15px;
    left: 15px;
    z-index: 0;
}

.detail-image {
    height: 40vh;
    width: 40vh;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;    
}

.card-text {
    font-size: 15pt;
    margin-bottom: 3vh;
}

.card-link {
    margin: 3vh 0;
    text-decoration: none;
    color: #009FB7;
    padding: 20px 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 99999;
}